@page "/"

<PageTitle>Index</PageTitle>

<h1>This is a blazor fronten app calling API (functions)</h1>

Welcome to your new app.

<SurveyPrompt Title="Will be implementing some features in the functions." />
